nav{
  width: 70%;
  height: 50px;
  background-color:dimgray;
  padding-top: 8px;
  box-sizing:border-box;
  position: fixed;
  top: 0;
  left: 0;




}

ul{
  display: flex;

}

li{
  list-style: none;
}
a{
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

a:hover{

  color: gainsboro;
}

header{
  color:black;
  font-size: 30px;
  line-height: 2.5;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  

}
.color{
  height: 30%;
  width: 60%;
  margin-bottom: 30px;

}
body{
  line-height: 1.0;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-width: 1px;
  border-style: solid;
  padding: 50px;
  text-align: center;
  background-color: rgba(255, 250, 205, 0.605);
  font-size: 12px;
  background-image:url(yelloworange.jpg);
  background-size: cover;
  
}

h1{
  font-size: 22px;
  margin: 20px;
}
.orange{
  height: 20%;
  width: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;

  }
.pink{
  height: 115;
  width: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
  .yellow{
   
    height: 20%;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;

  }
  .white{
    height: 20%;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .black{
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
    font: size 12px;px;

  }
  .red{
    font-size: medium;
  }

.ll{
  font-size: 12px;
  text-align: right;
  margin-top: 30px;
  display: block;
  margin: right 35px; 
  color: black;

}

footer{
  display: flex;
  text-align: right;
  

}

